<head>
	<style>
		table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 80%;
		}
		
		td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		}
		
		tr:nth-child(even) {
		background-color: #dddddd;
		}
        tr:hover {
        cursor: pointer;
        font-size: 105%; 
        height: 110%;  /* more precisely it should be (2.4x2.4)/2.8  */
        }
        .center {
        margin-left: auto;
        margin-right: auto;
        }
	</style>
</head>

    <table class="wow fadeInDown center" data-wow-delay=".5s" data-wow-duration="500ms">
    <tr>
        <th>Event</th>
        <th>Time(US-PST)</th>

    </tr>
    <tr>
        <td><a id="keynote">Welcome Chairs:Sofia Scataglini and Parama Pal</a></td>
        <td>08:00 AM - 08:30 AM</td>
    </tr>
    <tr>
        <td>Keynote I Meher Khan</td>
        <td>08:30 AM - 09:30 AM</td>
    </tr>
    <tr>
        <td>Coffee Break</td>
        <td>09:30 AM - 09:45 AM</td>
    </tr>
    <tr>
        <td>Session I: Wearables in Biomechnics<br>
		Plantar Biometrics for Edge Computing (15+5 questions)<br>
		FinePose: Fine-Grained Postural Muscle Profiling via Haptic Vibration Signals (15+5 questions)<br>
		Round table: Use of wearable in biomechanics (20 min)
    	</td>
        <td>09:45 AM - 10:45 AM</td>
    </tr>
    <tr>
        <td>Coffee Break</td>
        <td>10:45 AM - 11:00 AM</td>
    </tr>
    <tr>
        <td>Session II- Motion capturing and tracking<br>
            PetTrack: Tracking Pet Location and Activity Indoors(15+5 questions)
            Enabling Body-Centric Computing Applications with LED-to-Camera Communication(15+5 questions)
        </td>
        <td>11:00 AM - 12:00 PM</td>
    </tr>
    <tr>
        <td> Lunch Break </td>
        <td>12:00 PM - 01:00 PM</td>
    </tr>
    <tr>
        <td>Keynote II Von Homer</td>
        <td>01:00 PM - 02:00 PM</td>
    </tr> 
    <tr>
        <td>Session III-Biosensors <br>
            Modelling of a multi-analyte wearable biosensor for glucose and cortisol(15+5 questions)
        </td>
        <td>02:00 PM - 02:30 PM</td>
    </tr> 
    <tr>
        <td>Round Table: What is the future of wearable technology in healthcare?
        </td>
        <td>02:30 PM - 04:00 PM</td>
    </tr>  
    <tr>
        <td>Closing (chairs)</td>
        <td>04:00 PM - 04:30 PM</td>
    </tr>
    </table>
