<head>
	<style>
		table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 80%;
		}
		
		td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		}
		
		tr:nth-child(even) {
		background-color: #dddddd;
		}
        tr:hover {
        cursor: pointer;
        font-size: 105%; 
        height: 110%;  /* more precisely it should be (2.4x2.4)/2.8  */
        }
        .center {
        margin-left: auto;
        margin-right: auto;
        }
	</style>
</head>

    <table class="wow fadeInDown center" data-wow-delay=".5s" data-wow-duration="500ms">
    <tr>
        <th>Event</th>
        <th>Time(US-PST)</th>

    </tr>
    <tr>
        <td><a id="keynote">Welcome Chairs</a></td>
        <td>09:15 AM - 09:30 AM</td>
    </tr>
    <tr>
        <td>Keynote I</td>
        <td>09:30 AM - 10:30 AM</td>
    </tr>
    <tr>
        <td>Coffee Break</td>
        <td>10:30 AM - 11:00 AM</td>
    </tr>
    <tr>
        <td>Session I: Wearables in Biomechnics</td>
        <td>11:00 AM - 12:00 PM</td>
    </tr>
    <tr>
        <td>Lunch Break</td>
        <td>12:00 PM - 01:00 PM</td>
    </tr>
    <tr>
        <td>Keynote II</td>
        <td>01:00 PM - 02:00 PM</td>
    </tr>
    <tr>
        <td>Session II </td>
        <td>02:00 PM - 03:00 PM</td>
    </tr>
    <tr>
        <td> Break </td>
        <td>03:00 PM - 03:30 PM</td>
    </tr>
    <tr>
        <td>Panel </td>
        <td>03:30 PM - 04:30 PM</td>
    </tr>  
    <tr>
        <td>Closing (chairs)</td>
        <td>04:30 PM - 05:00 PM</td>
    </tr>
    </table>