<head>
	<style>
		table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 80%;
		}
		
		td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		}
		
		tr:nth-child(even) {
		background-color: #dddddd;
		}
        tr:hover {
        cursor: pointer;
        font-size: 125%; 
        height: 120%;  /* more precisely it should be (2.4x2.4)/2.8  */
        }
        .center {
        margin-left: auto;
        margin-right: auto;
        }
	</style>
</head>

    <table class="wow fadeInDown center" data-wow-delay=".5s" data-wow-duration="500ms">
    <tr>
        <th>Event</th>
        <th>Time(US-EST)</th>

    </tr>
    <tr>
        <td><a id="keynote">Keynote I</a></td>
        <td>08:00 AM - 09:00 AM</td>
    </tr>
    <tr>
        <td>Coffee Break I</td>
        <td>09:00 AM - 09:10 AM</td>
    </tr>
    <tr>
        <td>Session I: Effective Assessment of Cognitive Load in Real-World Scenarios using wrist-worn sensor data Performance Monitoring for Exercise movements using Mobile Cameras</td>
        <td>09:10 AM - 09:50 AM</td>
    </tr>
    <tr>
        <td>Coffee Break II</td>
        <td>09:50 AM - 10:00 AM</td>
    </tr>
    <tr>
        <td>Invited Talk I: The Fabric of Light</td>
        <td>10:00 AM - 10:30 AM</td>
    </tr>
    <tr>
        <td>Session II: "I know it’s still you": A study of using the PPG sensor to support
            zero re-authentications</td>
        <td>10:30 AM - 11:10 AM</td>
    </tr>
    <tr>
        <td>Coffee Break III</td>
        <td>11:10 AM - 11:25 AM</td>
    </tr>
    <tr>
        <td>Invited Talk II: Movement is life. The evolution, usage and potential of wearable technology in Orthopedic surgery, </td>
        <td>11:25 AM  - 12:05 PM</td>
    </tr>
    <tr>
        <td>Lunch Break</td>
        <td>12:05 PM - 12:45 PM</td>
    </tr>  
    <tr>
        <td>Keynote II</td>
        <td>12:45 PM - 1:45 PM</td>
    </tr> 
    <tr>
        <td>TeaBreak I</td>
        <td>01:45 PM - 02:00 PM</td>
    </tr>  
    <tr>
        <td>Session III: Wearable sensor driven Cardiac model to derive
            hemodynamic insights during exercise, Heart Rate Monitoring Using Capacitive Touchscreen Sensing</td>
        <td>02:00 PM - 02:40 PM</td>
    </tr>    
    <tr>
        <td>Tea Break III</td>
        <td>02:40 PM - 03:00 PM</td>
    </tr>  
    <tr>
        <td>Panel Discussion "To Learn or Not to Learn"</td>
        <td>03:00 PM - 03:45 PM</td>
    </tr>
    <tr>
        <td>Closing Remarks: Ashwin Ashok</td>
        <td>03:45 PM - 04:00 PM</td>
    </tr>
    </table>