{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
					<h1>Keynote Sessions</h1>
					<h2>Keynote I: How Will Your Technology be Used? Real World User-Centric Design - Strategic Implementation for Transformational Change</h2>
					<p style="font-size:120%">
						<b>Bio:</b> <br>
						Dr. Meher Khan is an allergist-immunologist and innovative entrepreneur. She received her Masters in
						Health Care Innovation from the University of Pennsylvania - Wharton and the Perelman School of
						Medicine, Philadelphia, USA and post doctoral specialization from Thomas Jefferson University,
						Philadelphia, USA. A
						<br>
						<b>Abstract</b>: <br>
						Solving complex health problems requires more complex approaches, that complement each other, than
						solving simple technical challenges. Increasing healthcare costs due to chronic disease and physical
						inactivity is a rising concern in the US and globally. The COVID-induced surge of telemedicine
						highlighted several issues. Telemedicine was able to provide personalized care satisfying social distancing
						and shelter-in-place regulations with increased customer satisfaction at reduced cost. Telemedicine may
						shift the efficiency frontier upwards and outwards but it does not serve the purpose for everyone. Eighty
						percent of health expenditure is attributed to ten percent of people with chronic disease occurring in the
						elderly and low socio economic population; large numbers of whom may not have access to the internet
						or have the literacy required for high-performance technology. Asthma is a chronic disease which
						involves difficulty breathing and is amenable to timely interventions and secondary prevention through
						telemonitoring, wearables gathering digital asthma metrics, and alleviation of user pain points which are
						unrelated to the disease itself. Likewise the availability of new resistive and piezoelectric sensor
						technology with better ways of analyzing and deriving relevant insights from data has the ability to
						revolutionize the management of chronic pain. Chronic lower body pain is a pervasive problem leading to
						foot ailments and physical inactivity that lead to chronic metabolic disease. Connected strategies with
						smart wearable devices have transformed traditional episodic interactions of firms and customers to
						connected customer relationships that are characterized by continuous, low friction, and personalized
						feedback, curated solutions, and automated motivational messaging. These expanding technologies have
						connection architectures from traditional monolithic to connected retailer or crowd orchestrator and
						market-maker platforms poised to enhance health outcomes with greater accessibility at reduced cost.</p>
                        					
				</div>
			</div>
			<div class="col-sm-6">
				<div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
					{{ with "images/keynote/meher.png" }}<img src="{{ . | absURL }}" alt="about-image">{{ end }}
				</div>
			</div>
            <div class="col-sm-6">
				<div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
					<h2>Keynote II: Building Safe Human Movement Taxonomies with Assistive Orthopedic Learning Technology;
						Characterizing the Efficacy of a Computational Neuromuscular Prediction Model Designed to Enhance						
						Ankle Dorsiflexion Neuro-Plasticity in Patients with Fall Risk due to Foot Drop.</h2>
					<p style="font-size:120%">
                        <b>Bio:</b> <br>
						Dr. Homer is a Neuroergonomist and Pedorthist and an internationally renowned innovator and
						entrepreneur. He serves the community as an Assistant Professor of Biomechanics at Delaware
						State University and a secondary appointment with Western University College of Health
						Sciences in the Department of Physical Therapy Education.
                        <b>Abstract</b>: <br>
						Neurological impairments are collectively the leading global cause for mobility disability. From stroke to
						cerebral palsy to spine and leg neuro-orthopedic trauma, walking and balance function are affected
						every step of every day for millions of people worldwide. Physical Therapy (PT) and Occupational
						Therapy (OT) practitioners understand the importance of emotional well-being, social connections, and
						healthy life habits for individuals with neurologic and orthopedic injury. The general purpose of the
						Neuromuscular Prediction Model is to measure and reduce the risk of lower extremity injury. The
						present invention provides a novel means and method to identify the principal physiological factors
						involved in configuring internal and external joint work in real-time. By this, one can determine
						movement efficiency and predict movement safety patterns enabling anyone to achieve and maintain
						optimal neuromuscular balance and stability of the lower extremity with or without the use of an
						assistive device (i.e. an orthotic, shoe, brace, prosthetic or exoskeleton).
						Essentially, the NPM is a computational neuromuscular algorithm fashioned by characterizing the brain
						and its ability to control movement through muscle patterns, and just like the brain this model is
						designed to optimize any host. Computational neuroscience to optimize ankle and foot human
						performance and safety is now possible and portable. Footwear companies have used this algorithm to
						optimize shoe function and design. We are also applying this algorithm to professional athletes to help
						predict injury and manage load and fatigue during competition. Adaptive control ankle robotics exist in
						research and patient practice with precision to match the deficit severity of each patient and each step.
						Protocols and patient profiles of deficits have been established for validity. Combining the therapeutic
						use of ankle robotics and the NPM to enhance standard care protocols for Physical and Occupational
						Therapist.
						The impact is to advance the science of optimal human neuromuscular performance that we are now
						using in sports to change the game for persons with neurological mobility disabilities. The impact is to
						engage the user’s volitional capacity to the fullest, with robotics support optimized by the model to
						facilitate functionality, recovery, and safety. In the future, this could shift paradigms of human robotics
						interaction in health care and beyond.
                    </p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
					{{ with "images/keynote/homer.png" }}<img src="{{ . | absURL }}" alt="about-image">{{ end }}
				</div>
			</div>
</div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}